<a href="https://github.com/aviadhahami/ClassAssignmentsV2"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" target="_blank" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<section>

	<code>
		<h1> Hey! welcome to <b>HORSIE</b></h1>
		<p> This app was built 'cause I'm sick and tired txting people for HW.</p>
		<p>Do not troll people...and do not test injections here...I won't rebuild this shit</p>
	</code>

	<h2><b>FEEL FREE TO FORK THIS ON GITHUB!</b></h2>
	<br />
	<code>
		<h1>Buit with the following technologies:</h1>
		<a ng-repeat="t in tech" href="{{t.href}}">
			<img src="{{t.logo}}" style="width:40%;"/> 
		</a>
		
	</code>
</section>