<!-- <md-form ng-submit="alert()">
<div layout="column">
        <h1> Add new task </h1>
  <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
    <md-input-container>
      <label>Title</label>
      <input ng-model="user.title">
    </md-input-container>
       <md-input-container>
      <label>Task number</label>
      <input ng-model="user.number" >
    </md-input-container>
      <md-input-container flex>
          <label>Submission Date</label>
          <input type="date" ng-model="user.submissionDate">
        </md-input-container>
  </md-content>
  <md-button class="md-raised md-primary">Add task!</md-button>
  <br />
</div>
</md-form>
-->


<form ng-submit="createTask()">
    Title : <input ng-model="user.subject" />
    Number : <input ng-model="user.number" />
    Date (DD MM YY):  <input ng-model="user.due.day" class="smallInputBox"/>
    <input ng-model="user.due.month" class="smallInputBox"/>
    <input ng-model="user.due.year" class="smallInputBox"/>
    <br />
    <input type="submit" value="Submit Form">
</form>