<div class="container-fluid" >
	<button style="float:right;" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add new task <span class="glyphicon glyphicon-plus"></span></button>
</div>
<div class="col-md-6" ng-show="loading">
	<button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
</div>
<div class="col-md-6">
	<h3>Upcoming tasks</h3>

	<div class="panel panel-primary" ng-repeat="ass in assignList | futureDates | orderBy: '-timeleft' ">
		<div class="panel-heading">{{ass.subject}}<span style="float:right;"class="badge">{{ass.timeLeft}} days to go</span></div>
		<div class="panel-body">
			Assignment #{{ass.number}}
			<br />
			Due: {{ass.due.getDate() + "/"+ ass.due.getMonth() + "/" + ass.due.getFullYear()}}
		</div>
	</div>
<!-- STUB
	<div class="panel panel-primary">
		<div class="panel-heading">Title <span style="float:right;"class="badge">3 days to go</span></div>
		<div class="panel-body">
			Assignment number
			<br />
			Due: 30/07/1990
		</div>
	</div>
	-->


</div>
<div class="col-md-6">
	<h3>Past tasks</h3>

	<div class="panel panel-pastTasks" ng-repeat="ass in assignList | pastDate | limitTo: 7 ">
		<div class="panel-pastTasks-heading">{{ass.subject}}</div>
		<div class="panel-body">
			Assignment #{{ass.number}}
			<br />
			Due: {{ass.due.getDate() + "/"+ ass.due.getMonth() + "/" + ass.due.getFullYear()}}
		</div>
	</div>
<!-- STUB
	<div class="panel panel-pastTasks">
		<div class="panel-pastTasks-heading">Title</div>
		<div class="panel-body">
			Assignment number
			<br />
			Due: 30/07/1990
		</div>
	</div>
-->



	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><b>Add new time consumer</b></h4>
				</div>
				<div class="modal-body"  ng-if="didSubmit">
					<!-- MODAL CONTENT -->
					<form ng-submit="createTask()" class="form-inline">
						<div class="col-md-4">
							<div class="form-group">
								Task subject : <input type="text" placeholder="{{user.subject}}" ng-model="user.subject" />
								Task number : <input type="number" palceholder="Task number here" ng-model="user.number" />

							<!-- <div class="form-group">
								Date : 
								<hr />
								year (yyyy) <input type="number" placeholder="{{user.due.year}}" ng-model="user.due.year"/>
								month (mm) <input type="number" placeholder="{{user.due.month}}" ng-model="user.due.month"/>
								day (dd) <input type="number" placeholder="{{user.due.day}}" ng-model="user.due.day"/>
							</div> -->

							Submission date:
							<datepicker date-format="{{datePattern}}">
								<input ng-model="user.rawDateInput" type="text"/>
							</datepicker>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
			<div class="modal-body"  ng-if="!didSubmit">
				<!-- MODAL CONTENT -->
				<h4>Thank you for submitting ! </h4>
			</div>
		</div>

	</div>
</div>
</div>