<div class="container-fluid">
	<button style="float:right;" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add new task <span class="glyphicon glyphicon-plus"></span></button>

</div>
<div class="col-md-6">
	<h3>Upcoming tasks</h3>

	<div class="panel panel-primary" ng-repeat="ass in assignList | orderBy: 'due.day' | futureDates">
		<div class="panel-heading">{{ass.subject}}<span style="float:right;"class="badge">{{ass.timeLeft}} days to go</span></div>
		<div class="panel-body">
			Assignment #{{ass.number}}
			<br />
			Due: {{ass.due.getDate() + "/"+ ass.due.getMonth() + "/" + ass.due.getFullYear()}}
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Title <span style="float:right;"class="badge">3 days to go</span></div>
		<div class="panel-body">
			Assignment number
			<br />
			Due: 30/07/1990
		</div>
	</div>


</div>
<div class="col-md-6">
	<h3>Past tasks</h3>

	<div class="panel panel-pastTasks" ng-repeat="ass in assignList | orderBy: 'due.year' | pastDate | limitTo: 7">
		<div class="panel-pastTasks-heading">{{ass.subject}}</div>
		<div class="panel-body">
			Assignment #{{ass.number}}
			<br />
			Due: {{ass.due.getDate() + "/"+ ass.due.getMonth() + "/" + ass.due.getFullYear()}}
		</div>
	</div>

	<div class="panel panel-pastTasks">
		<div class="panel-pastTasks-heading">Title</div>
		<div class="panel-body">
			Assignment number
			<br />
			Due: 30/07/1990
		</div>
	</div>




	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add new time consumer</h4>
				</div>
				<div class="modal-body">
					<!-- MODAL CONTENT -->
					<form ng-submit="createTask()">
						Title : <input ng-model="user.subject" />
						Number : <input ng-model="user.number" />
						Date (DD MM YY):  <input ng-model="user.due.day" class="smallInputBox"/>
						<input ng-model="user.due.month" class="smallInputBox"/>
						<input ng-model="user.due.year" class="smallInputBox"/>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button></form>
					</div>
				</div>
			</div>
		</div>
	</div>